.root {
    -fx-background-color: #383838;
}

.tab {
    -fx-background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);
    -fx-background-radius: 0;
    -fx-background-inset: 1;
}

.tab-label{
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-color: linear-gradient(to bottom, #565656 12%, #2f4545 100%);
}

.vbox-gaugewrapper {
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-background-color: linear-gradient(to bottom, #58b596 0%, #8c8dc7 51%, #df7d66 100%);
}